@import 'variables.scss';

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: $black;

  border-bottom: .2rem solid $white;
  padding: 1rem 6rem;

  a {
    color: $white;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 500;
  }

  .user-info {
    display: flex;
    align-items: center;

    .user-image {
      width: 40px;
      height: 40px; 
      border-radius: 50%;
      margin-right: 0.5rem;
    }

    .default-user-icon {
      color: $white;
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }

    span {
      color: $white;
      font-weight: 500;
      margin-left: .5rem;
    }
  }
  .dropdown{
    background-color: $medium-gray;
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;

    .dropdown-item{
      font-size: 1rem;
      &:hover{
        background-color: white;
        color: gray;
      }
    }
    
  }
  .button-style {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;

    border: none;
    cursor: pointer;
    background-color: $blue;
    color: $white;
    transition: all 500ms;
    padding: .8rem 1.2rem;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .05rem;
    border-radius: .4rem;

    &:hover {
      background-color: $dark-blue;
    }
  }
  @media (max-width: 600px) {
    padding: 1rem 2rem;
  }
}