<header>
  <a routerLink="/home" class="has-text-weight-bold">IFconecta.</a>
  <ng-container *ngIf="isSign; else loginButton">
    <div class="has-dropdown" *ngIf="user">
      <a
        class="user-info"
        (click)="toggleDropdown()"
        aria-label="menu"
        data-target="navMenu"
        aria-expanded="false"
      >
        <img
          *ngIf="user.userImage; else defaultImage"
          [src]="baseUrl + '/user/images/' + user.userImage"
          alt="User Image"
          class="user-image"
        />
        <ng-template #defaultImage>
          <fa-icon [icon]="faUser" class="default-user-icon"></fa-icon>
        </ng-template>
        <span class="p-3 has-text-white">{{ user.name }}</span>
      </a>
      <div *ngIf="showDropdown" id="navMenu" class="dropdown">
        <a routerLink="/create-post" class="dropdown-item"><fa-icon [icon]="faSquarePlus"></fa-icon> Criar Publicação</a>
        <a (click)="logout()" class="dropdown-item"><fa-icon [icon]="faLogout"></fa-icon> Logout</a>
      </div>
    </div>

  </ng-container>
  <ng-template #loginButton>
    <button (click)="loginRedirect()" class="button-style">
      <span>Login</span>
      <fa-icon [icon]="faUser"></fa-icon>
    </button>
  </ng-template>
</header>
