@import 'variables.scss';

.alert_background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgb(0 0 0 / .8);
  backdrop-filter: blur(.2rem);
  z-index: 2;
  animation: fadeIn .4s cubic-bezier(0.23, 1, 0.320, 1);
}

.alert {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  border-radius: .8rem;
  overflow: hidden;

  background-color: #7d7d7d95;
  box-shadow: 0 .4rem 1rem rgba(255, 255, 255, .2);
  border: .2rem solid #53515195;

  height: fit-content;
  min-width: 30%;

  padding-bottom: 1.5rem;

  animation: enterIn .8s cubic-bezier(0.23, 1, 0.320, 1);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;

  .actions {
    padding: .8rem;
    width: 100%;
    background-color: $black;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      font-size: 1.4rem;
      padding: .2rem .5rem;
      border: none;
      border-radius: .4rem;
      cursor: pointer;
      background-color: $white;
      transition: all 400ms;

      &:hover {
        background-color: $gray;
        color: $white;
      }
    }
  }

  .alert_icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $gray;
    box-shadow: 0 .2rem .8rem rgb(0 0 0 / .5);
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    padding: 1rem;

    > fa-icon {
      font-size: 5rem;
      color: $white;
    }
  }

  .alert_title {
    font-size: 1.4rem;
    font-weight: 600;
    color: $black;
  }

  .alert_content {
    font-size: 1rem;
    color: $black;
    font-weight: 600;
  }

}

.alert_success {
  .alert_icon {
    background-color: rgb(19, 199, 19);
  }
}

.alert_warning {
  .alert_icon {
    background-color: rgb(255, 217, 0);
  }
}

.alert_danger {
  .alert_icon {
    background-color: rgb(205, 16, 16);
  }
}

.alert_info {
  .alert_icon {
    background-color: rgb(13, 124, 222);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes enterIn {
  from {
    top: -10%;
  }
  to {
    top: 30%;
  }
}
