<main>
  <ng-template #loadingTemplate>
    <div class="loading_wrapper">
      <span class="loading_spinner"></span>
    </div>
  </ng-template>
  <div class="post_wrapper" *ngIf="post$ | async as post; else loadingTemplate">
    <section class="post_info">
      <h1>{{ post.title }}</h1>

      <div class="content">
        <div class="section_top">
          <div class="user_info">
            <fa-icon [icon]="faUser" />
            <span class="has-text-weight-bold">{{ post.authorName }}</span>
          </div>

          <div
            class="post_category"
            [style.backgroundColor]="post.category | categoryColor"
          >
            <span class="has-text-weight-bold">{{ post.category | categoryTranslate }}</span>
          </div>
        </div>

        <div class="section_image">
          <img
            [src]="baseUrl + '/post/images/' + post.postImage"
            alt="Imagem do Post"
          />
        </div>

        <div class="section_bottom">
          <div class="post_date">
            <fa-icon [icon]="faCalendarPlus" />
            <span>Criado {{ post.createdAt | date : "dd/MM/YYYY" }}</span>
          </div>
          <button type="button" *ngIf="hasPermitionToRemove" class="delete_btn" (click)="deletePostConfirmation()">
            <fa-icon [icon]="faTrash"/>
          </button>
        </div>
      </div>
    </section>
    <section class="post_content">
      <p>{{ post.content }}</p>
    </section>

    <section *ngIf="isSign" class="post_comments">
      <form (ngSubmit)="submit()" [formGroup]="commentForm" #formDir="ngForm" class="create_comment">
        <textarea class="textarea" placeholder="Escreva um comentário" formControlName="content"></textarea>
        <div *ngIf="content?.invalid && content?.touched" class="invalid-feedback">
          O conteúdo do comentário é obrigatório.
        </div>
        <input type="submit" class="button is-fullwidth mt-2" value="Enviar comentário"/>
      </form>
    </section>

    <section class="post_comments" *ngIf="post.comments">
      <div class="comments_title">
        <h2>Comentários</h2>
        <fa-icon [icon]="faComments" />
      </div>
      <div *ngFor="let comment of post.comments" class="comment">
        <div class="comment_info">
          <span class="comment_user">
            <img *ngIf="comment.author.userImage; else defaultImage" [src]="baseUrl + '/user/images/' + comment.author.userImage" alt="User Image" class="user-image">
            {{ comment.author.name }}
            <ng-template #defaultImage>
              <fa-icon [icon]="faUser" class="default-user-icon"></fa-icon>
            </ng-template>
          </span>
          <span class="comment_date">
            <fa-icon [icon]="faCalendarPlus" />
            {{ comment.createdAt | date : "dd/MM/YYYY" }}
          </span>
        </div>

        <div class="comment_content">
          <p>{{ comment.content }}</p>
        </div>
      </div>
    </section>
  </div>
</main>
