<main>
  <section class="actions_section">
    <div class="control has-icons-left">
      <div class="select">
        <select class="has-text-weight-bold" [(ngModel)]="selectedCategory" (change)="onCategoryChange()">
          <option value="" class="has-text-weight-bold">CATEGORIA</option>
          <option
            *ngFor="let category of categories"
            [value]="category"
            class="category_option has-text-weight-bold"
            [style]="{ 'color': category | categoryColor }"
          >
            {{ category | categoryTranslate }}
          </option>
        </select>
      </div>
      <span class="icon is-small is-left">
        <fa-icon [icon]="faFilter" />
      </span>
    </div>
    <div class="search_div">
      <input type="search" placeholder="Pesquise aqui..." [(ngModel)]="searchQuery" (input)="searchPosts()">
    </div>
    <button id="createButton" class="button" (click)="redirectCreatePost()">
      <span>Criar</span>
      <fa-icon [icon]="faSquarePlus"></fa-icon>
    </button>
  </section>
  <section class="posts mt-2">
    <ng-template #loadingTemplate>
      <div class="loading_wrapper">
        <span class="loading_spinner"></span>
      </div>
    </ng-template>
    <div class="columns is-multiline px-6" *ngIf="posts$ | async as posts; else loadingTemplate">
      <div
        *ngFor="let post of posts"
        class="column is-half-tablet is-one-third-desktop is-one-quarter-fullhd"
      >
        <app-post [post]="post"></app-post>
      </div>
      <div *ngIf="posts.length === 0" class="empty_posts">
        <h1>Nenhuma postagem no momento :(</h1>
      </div>
    </div>
  </section>
</main>
