<form
  (ngSubmit)="submit()"
  class="has-text-light p-2"
  [formGroup]="postPost"
  #formDir="ngForm"
>
  <div class="field">
    <div class="control">
      <label for="title" class="label">
        <fa-icon [icon]="faHighlighter" />
        <h2>Titulo</h2>
      </label>
      <input
        class="input is-large"
        type="text"
        placeholder="Titulo do Post"
        formControlName="title"
        id="title"
        required
      />
      <div *ngIf="title.invalid && formDir.submitted" class="form_error">
        <small *ngIf="title.errors" class="has-text-weight-bold">
          Insira um titulo
          <fa-icon [icon]="faCircleExclamation"></fa-icon>
        </small>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <label for="subtitulo" class="label">
        <fa-icon [icon]="faClosedCaptioning" />
        <h2>Subtítulo</h2>
      </label>
      <input
        class="input is-large"
        type="text"
        placeholder="Subtítulo do Post"
        formControlName="subtitle"
        id="subtitle"
        required
      />
      <div *ngIf="subtitle.invalid && formDir.submitted" class="form_error">
        <small *ngIf="subtitle.errors" class="has-text-weight-bold">
          Insira um subtítulo
          <fa-icon [icon]="faCircleExclamation"></fa-icon>
        </small>
      </div>
    </div>
  </div>
  <div class="field small-options" >
    <div class="control has-icons-left" id="select-field">
      <div class="select">
        <select formControlName="category" required>
          <option value="" [selected]="true" disabled>
            <p class="has-text-weight-bold">Selecione a categoria</p>
          </option>
          <option
            *ngFor="let category of categories"
            [value]="category"
            class="category_option has-text-weight-bold"
            [style]="{ 'color': category | categoryColor }"
          >
            {{ category | categoryTranslate }}
          </option>
        </select>
        <div *ngIf="category && formDir.submitted" class="form_error">
          <small *ngIf="category.errors" class="has-text-weight-bold">
            Selecione uma categoria
            <fa-icon [icon]="faCircleExclamation"></fa-icon>
          </small>
        </div>
      </div>
      <span class="icon is-small is-left">
        <fa-icon [icon]="faFilter" />
      </span>
    </div>
    <div id="file-js-example" class="file has-name">
      <label class="file-label">
        <input
          class="file-input"
          type="file"
          #fileInput
          (change)="onFileSelected($event)"
        />
        <span class="file-cta">
          <span class="file-icon">
            <fa-icon [icon]="faUpload"></fa-icon>
          </span>
          <span class="file-label has-text-weight-bold"> Escolha uma imagem </span>
        </span>
      </label>
      <span class="file-name has-text-white">
        {{ selectedFileName }}
      </span>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <label>
        <fa-icon [icon]="faFileLines" />
        <h2>Conteúdo do Post</h2>
      </label>
      <textarea
        class="textarea is-large mt-2"
        placeholder="Conteúdo do Post"
        formControlName="content"
      ></textarea>
    </div>
    <div *ngIf="content.invalid && formDir.submitted" class="form_error">
      <small *ngIf="content.errors" class="has-text-weight-bold">
        O conteúdo do post é obrigatório!
        <fa-icon [icon]="faCircleExclamation"></fa-icon>
      </small>
    </div>
  </div>
  <div class="buttons are-medium pt-3">
    <input type="submit" class="button" value="{{ btnSubmit }}" />
  </div>
</form>
